@import 'reset';
@import 'vars';

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: helvetica;
}

*, *:before, *:after {/* stylelint-disable-line */
  box-sizing: inherit;
}

.hide {
  display: none;
}

body {
  background-color: var(--bg-color);
  font-size: 1.2rem;
  font-weight: 100;
}

/* HEADER */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
}

.logo {
  background-image: url(../assets/img/bftp-logo.svg);
  background-repeat: no-repeat;
  width: 22rem;
  height: 15.1rem;
}

.bvb {
  display: none;
}

.submit-btn {
  display: none;
}

.nav-list {
  height: 10rem;
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
}

.subs-btn {
  background-image: url(../assets/img/nav-subs-icon.svg);
  background-repeat: no-repeat;
  width: 3.4rem;
  height: 3.4rem;
}

.nav-li {
  color: var(--blue);
  font-style: oblique;
  display: flex;
  flex-direction: column-reverse;
  height: 6rem;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
}

.party-btn {
  background-image: url(../assets/img/nav-party-icon.svg);
  background-repeat: no-repeat;
  width: 3.4rem;
  height: 3.4rem;
}

/* .b {
  background-image: url(../assets/img/nav-party-icon.svg);
  background-repeat: no-repeat;
  width: 5.4rem;
  height: 5.4rem;
} */

/* .menuitem--active {

} */

/* FOOTER */

.footer {
  width: 100vw;
  height: 30rem;
  background-color: var(--blue);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.address-footer {
  font-weight: 100;
  font-size: 1.2rem;
  text-align: center;
  letter-spacing: .05rem;
  line-height: 1.5rem;
}

.links-footer {
  display: flex;
  flex-direction: column;
}

.a-footer {
  font-size: 1.2rem;
  color: white;
  letter-spacing: .1rem;
  line-height: 1.5rem;
  text-decoration: none;
}

/* HOME */

.index-article1 {
  display: flex;
  flex-direction: column-reverse;
}

.index-article {
  width: 90vw;
  margin: 0 auto;
  margin-top: 3rem;
}

.h2-article2 {
  text-transform: uppercase;
  color: var(--blue);
  font-family: lemonmilk;
  font-weight: light;
  font-size: 2rem;
}

.h3-article2 {
  font-family: lemonmilk;
  font-weight: bold;
  color: var(--pink);
  font-size: 3rem;
}

.div-article2 {
  height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.p-article2 {
  line-height: 1.8rem;
}

.p-article2 strong {
  font-style: oblique;
  font-weight: 400;
}

.btn-article2 {
  @apply --button-cut;
  background-color: var(--blue);
  width: 28rem;
}

.btn-article2::after {
  @apply --button-cut-after;
}

.last-winner {
  border: .2rem solid var(--blue);
}

.index-article3 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.index-section2 {
  height: 55rem;
  background-color: var(--lightgrey);
}

.s2-article1 {
  width: 90vw;
  margin: 0 auto;
  height: 50rem;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.btn-article4 {
  @apply --button-cut;
  width: 28rem;
  background-color: var(--blue);
}

.btn-article4::after {
  @apply --button-cut-after;
  background-color: var(--blue);
  border-bottom: 2rem solid var(--lightgrey);
}

.s3-h2 {
  background-image: url(../assets/img/arty-parties-typo-home.svg);
  background-repeat: no-repeat;
  width: 30rem;
  height: 9.1rem;
  margin: 0 auto;
  margin-top: -.5rem;
}

.s3-btn {
  @apply --button-cut;
  width: 28rem;
  background-color: var(--pink);
}

.s3-btn::after {
  @apply --button-cut-after;
  background-color: var(--pink);
}

.s3a1-h3 {
  font-size: 1.6rem;
}

.s3a1-title {
  font-family: lemonmilk;
  font-weight: bold;
  font-size: 2.2rem;
  color: var(--blue);
}

.s3a2-address {
  color: var(--pink);
  font-size: 1.6rem;
}
