@import 'reset';
@import 'vars';

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {/* stylelint-disable-line */
  box-sizing: inherit;
}

.hide {
  display: none;
}

body {
  font-family: lemonmilk;
  background-color: red;
}
